.container {
    -webkit-box-shadow: 0px -1px 16px 0px rgba(255, 255, 255, 0.55);
    box-shadow: 0px -1px 16px 0px rgba(255, 255, 255, 0.55);
    padding: 20px;
    display: flex;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}

p {
    color: white;
    white-space: pre-line;
    margin: 0px;
    padding: 0px;
}

.title {
    font-size: 100%;
    font-weight: 300;
}

.value {
    font-size: 190%;
    font-weight: 800;
    margin-top: 2px;
}